*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #555;
}

ul li a {
	text-decoration: none;
}

header.header{
	width: 100%;
	height: 70px;
	box-shadow: 0 1px 2px #aaa;
	display: flex;
	justify-content: space-between;
	background-color: #03A9F4;
}

.header .logo{
	width: 260px;
	height: 100%;
	color: #777;
	line-height: 70px;
	margin-left: 50px;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	color: #f4f4f4;
}

.header .wrap-navigation{
	display: flex;
	align-items: center;
}

.header .wrap-navigation ul.nav{
	margin-right: 20px;
}

.header .wrap-navigation ul.nav li {
	display: inline-block;	
	padding: 15px 15px;
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-o-transition:  all 0.3s;
	transition:  all 0.3s;
}

.header .wrap-navigation ul.nav li:hover{
	box-shadow: 0 -5px 10px -5px rgba(0,0,0,0.1), 0 -5px 10px -3px rgba(0,0,0,0.2), 0 0 10px -3px rgba(0,0,0,0.25);
}

.header .wrap-navigation ul.nav li:active{
	box-shadow: 0 5px 5px rgba(0,0,0,0.3) inset;
	background-color: #039BE5;

	/*box-shadow: 0 -5px 15px rgba(0,0,0,0.3);*/
}

.header .wrap-navigation ul.nav li:hover a{
	/*color: white;*/
}

.header .wrap-navigation ul.nav li a{
	text-decoration: none;
	font-size: 14px;
	color: #f4f4f4;
}

.header .wrap-navigation .account-login{
	width: 200px;
	height: 50px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	padding: 0 5px;
	position: relative;
	border-radius: 5px 5px 0 0;	
}

.header .wrap-navigation .account-login .avatar{
	width: 45px;
	height: 45px;
	border-radius: 100%;
	display: block;
}

.header .wrap-navigation .account-login .information{
	display: block;
	margin-left: 10px;
	color: #f4f4f4;
	font-size: 14px;
}

.header .wrap-navigation .account-login:hover{
	box-shadow: 0 -5px 5px -2px rgba(0,0,0,0.1), 0 0 25px -3px rgba(0,0,0,0.1), 0 5px 10px 2px rgba(0,0,0,0.25);
}

.header .wrap-navigation .account-login ul.menu-acount{
	position: absolute;
	top: 50px;
	padding-top: 9px;
	left: 0;
	width: 200px;
	background-color: #03A9F4;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	transition: max-height 0.5s;
	z-index: 4;
}

.header .wrap-navigation .account-login:hover ul.menu-acount{
	max-height: 150px;
	box-shadow: 0 10px 10px -5px rgba(0,0,0,0.4);
}

.header .wrap-navigation .account-login ul.menu-acount li{
	list-style: none;
	padding: 10px 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header .wrap-navigation .account-login ul.menu-acount li:last-child{
	border-top: 1px solid #4FC3F7;
}

.header .wrap-navigation .account-login ul.menu-acount li:hover{
	background-color: #039BE5;
}

.header .wrap-navigation .account-login ul.menu-acount li:hover a{
	color: white;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header .wrap-navigation .account-login ul.menu-acount li a{
	text-decoration: none;
	font-size: 12px;
	color: #f4f4f4;
	margin-left: 44px;
}

section.wrap-menu-article{
	width: 100%;
	max-height: 100vh;
	display: flex;
	justify-content: flex-start;
	margin-top: 2px;
	position: relative;
}

section.wrap-menu-article div.wrap-menu{
	display: block;
	width: 230px;
	min-width: 230px;
	max-height: 100vh;
	background-color: #ECEFF1;
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	z-index: 1;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	overflow: hidden !important;
}

.menu-hidden{
	min-width: 0 !important;
	width: 0 !important;
}

.icon-hidden{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background: url(images/icons/left-black.svg) center center no-repeat;
	border-radius: 100%;
	top: 14px;
	left: 190px;
	z-index: 3;
	-webkit-transition: left 1s, background-color 0.3s;
	-o-transition: left 1s, background-color 0.3s;
	transition: left 1s, background-color 0.3s;
	cursor: pointer;
	opacity: 0.5;
}

.icon-hidden:hover{
	background: #aaa url(images/icons/left-white.svg) center center no-repeat;
}

.menu-hiddened{
	left: 5px;
	background: url(images/icons/right-black.svg) center center no-repeat;
}

.menu-hiddened:hover{
	background: #aaa url(images/icons/right-white.svg) center center no-repeat;
}

.menu-hidden .icon-hidden{
	right: -30px;
}

section.wrap-menu-article div.wrap-menu h3.title-menu{
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	padding: 15px;
	width: 60%;
	margin: 0 auto;
	border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}

section.wrap-menu-article div.wrap-menu ul.menu{
	margin-top: 10px;
	overflow-y: auto;
	height: calc(100vh - 70px);
}

section.wrap-menu-article div.wrap-menu ul.menu > li{
	padding: 5px 20px;
}

section.wrap-menu-article div.wrap-menu ul.menu > li > a{
	font-size: 12px;
	display: block;
	padding: 6px 10px;
	color: #aaa;
	border-radius: 2px;
	-webkit-transition: color 0.3s, background 0.3s;
	-o-transition: color 0.3s, background 0.3s;
	transition: color 0.3s, background 0.3s;
}

section.wrap-menu-article div.wrap-menu ul.menu > li > a:hover{
	background-color: #03A9F4;
	color: white !important;
	box-shadow: 0 12px 20px -10px rgba(0,0,0,0.1), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0,0,0,0.3);
}

/*.menu-active{
	background-color: #03A9F4;
	color: white !important;
	box-shadow: 0 12px 20px -10px rgba(0,0,0,0.1), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0,0,0,0.3);
}*/

.menu-active{
	box-sizing: content-box;
	color: #03A9F4 !important;
	border-radius: 0px !important;
	border: none;
	border-left: 2px solid #03A9F4;
	-webkit-transition: border 0ms;
	-o-transition: border 0ms;
	transition: border 0ms;
}

.has-sub-menu{
	background: url("images/icons/add-black.svg") right center no-repeat;
	background-size: 15px 15px;
}

.menu-active.has-sub-menu{
	background: url("images/icons/remove-black.svg") right center no-repeat;
	background-size: 15px;
}


section.wrap-menu-article div.wrap-menu ul.menu li ul.sub-menu {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	list-style: disc;
	padding-left: 20px;
}

section.wrap-menu-article div.wrap-menu ul.menu li ul.sub-menu li {
	margin-left: 20px;	
}

section.wrap-menu-article div.wrap-menu ul.menu li ul.sub-menu li a {
	font-size: 11px;
	color: #aaa;
	padding: 3px 0 3px 0px;
	display: block;
}

section.wrap-menu-article div.wrap-menu ul.menu li ul.sub-menu li a:hover{
	color: black;
}


section.wrap-menu-article div.wrap-menu ul.menu > li > a:hover ~ ul.sub-menu{
	max-height: 300px;
}


section.wrap-menu-article div.wrap-menu ul.menu > li > a.menu-active ~ ul.sub-menu{
	max-height: 300px;
}

section.wrap-menu-article div.wrap-menu ul.menu > li > a ~ ul.sub-menu:hover{
	max-height: 300px;
}

.sub-menu-active{
	color: black !important;
}


section.wrap-menu-article div.wrap-article{
	display: block;
	width: 100%;
	min-width: 500px;
	/*background-color: #f4f4f4;*/
	line-height: 30px;
	padding: 20px 3%;
	overflow-y: scroll;
}

.tooltip-inline{
	position: relative;
}

.tooltip-inline:before{
	position: absolute;
	padding: 7px 10px;
	border-radius: 2px;
	top: -35px;
	font-size: 11px;
	color: white;
	line-height: 16px;
	content: attr(data-tooltip);
	display: inline-block;
	white-space: nowrap;
	background-color: #999;
	box-shadow:0 5px 5px -3px rgba(0,0,0,0.3), 0 10px 10px -5px rgba(0,0,0,0.3);
	z-index: 999;
}

.tooltip-inline:after{
	box-sizing: content-box;
	position: absolute;
	width: 0;
	height: 0;
	top: -6px;
	left: 5px;
	content: '';
	display: block;
	border: none;
	border: 8px solid transparent;
	border-top: 8px solid #999;
}

.tooltip-inline:after, .tooltip-inline:before{
	transform: translateY(-20px);
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}

.tooltip-inline:hover:before, .tooltip-inline:hover:after{
	-webkit-transition: visibility 0ms, opacity 0.5s, transform 0.5s;
	-o-transition: visibility 0ms, opacity 0.5s, transform 0.5s;
	transition: visibility 0ms, opacity 0.5s, transform 0.5s;
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}